* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
/*	max-width: 320px; */
	background: linear-gradient(270deg, #224143, #252545, #3e243f);
	background-size: 400% 400%;

	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}



@-webkit-keyframes Gradient {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@-moz-keyframes Gradient {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@keyframes Gradient { 
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}



nav {
	position: fixed;
	background-color: #222;
	width: 100%;
	height: 60px;
	z-index: 1;
}

nav p:nth-child(1) {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 0.6em;
	background-color: #111;
	color: #fff;
	text-align: center;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

nav p:nth-child(2) {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 1em;
	color: #888;
	text-align: center;
	padding-top: 0.5em;
}

nav img {
	float: right;
	width: 30px;
	margin-right: 0.5em;
	margin-top: -1.55em;
	opacity: 0.5;
	transition: 0.2s ease;
}
nav img:hover {
	opacity: 1;
}

#favcount {
	position: absolute;
	color: #fff;
	font-size: 0.8em;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 600;
	text-align: center;
	background-color: orange;
	right: 2em;
	top: 1.7em;
	width: 18px;
	height: 18px;
	border-radius: 8em;
}

main {
	font-family: 'Merriweather Sans', sans-serif;
	width: 100%;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin: 0 auto;
	padding-top: 2em;
	overflow: auto;
}

.card {
	width: 20em;
	margin: 0 auto;
	padding-bottom: 5em;
}

#root {
	margin-top: 1.9em;
}

#button_left {
	position: absolute;
	left: 0;
	top: 45%;
	color: white;
	background-color: rgba(255, 255, 255, 0.2);
	height: 6em;
	width: 4em;
	border-width: 0.1em;
	border-color: #fff;
}

#button_right {
	position: absolute;
	right: 0;
	top: 45%;
	color: white;
	background-color: rgba(255, 255, 255, 0.2);
	height: 6em;
	width: 4em;
	border-width: 0.1em;
	border-color: #fff;
}

.side-info {
	display: inline-block;
	position: absolute;
	width: 9em;
	margin-top: 4.5em;
}

#button_left img {
	width: 1em;
	margin-top: 0.3em;
}

#button_right img {
	width: 1em;
	margin-top: 0.3em;
}

main button:focus {
  outline-color: transparent;
  outline-style: none;
}

.moredetails {
	position: absolute;
	width: 100%;
	bottom: 1em;
	margin: 0 auto;
	text-decoration:  none;
}

.moredetails p {
	text-align: center;
}

.moredetails img {
	display: block;
	margin-top: 0.5em;
	width: 20px;
	margin-left: auto;
    margin-right: auto;
	overflow: hidden;
}

.cover {
	position: absolute;
	margin-left: auto;
    margin-right: auto;
	width: 100%;
	overflow: hidden;
	z-index: -1;
	opacity: 0.3;
	top: 3.6em;
	
	/* -webkit-filter: blur(7px); /* Safari 6.0 - 9.0 
    filter: blur(7px); */
}

#container-details {
	width: 100%;
	height: 100%;
	/* background-color: rgba(255, 255, 255, 0.1); */
	margin: 0 auto;
	margin-top: 7em;
}

#container-details ol li {
	display: inline;
	list-style: none;
	margin-top: 0.5em;
}

.castmembers {
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 2em;
}

.castmembers li {
	display: inline-block;
	background-color: none;
	padding-right: 1em;
	margin-bottom: 3em;
}

.castmembers li div {
	width: 60px;
	height: 60px;
	overflow: hidden;
    z-index: -1;
	border-radius: 100%;
	margin-bottom: 0.4em;
	opacity: 0.8;
}

.castmembers li div img {
    display: block;
    width: 100%;
    height: 100%;
	margin-top: 0;

}

.castmembers li p {
	position: absolute;
	width: 6em;
	text-align: center;
	font-size: 10px;
	font-weight: 400;
	margin: 0 auto;
	opacity: 0.5;
}

/*
.portfolio_overview div div {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transform: rotate(45deg);
    z-index: -1;
    margin: 0;
}

.portfolio_overview div div img {
    pointer-events: auto;
    position: absolute;
    top: -22%;
    left: -24%;
    bottom: -100%;
    right: -100%;
    transform: rotate(-45deg);
    display: block;
    width: 145%;
    height: 145%;
}
*/

.cover-small {
	display: inline-block;
	width: 8em;
	margin-top: 3em;
	margin-left: 1em;
	margin-right: 0.5em;
	box-shadow: 0px 0px 20px #222;
}

main h1 {
	text-align: center;
	width: 150px;
	margin: 0 auto;
	font-size: 1.6em;
	color: #fff;
	margin-top: 38vh;
}

main p {
	text-align: left;
	font-weight: 200;
	color: #fff;	
	margin-left: 1em;
	margin-right: 1em;
}

.releasedate {
	display: inline;
	font-size: 0.8em;
	margin-top: 0.5em;
}

.simple_plot {
	font-size: 0.9em;
	line-height: 1.7em;
	margin-top: 1em;
}


.genres {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	width: 70%;
	list-style: none;
}

.genres li {
	display: inline-block;
	background-color: #999;
	font-size: 0.8em;
	color: white;
	width: 70px;
	margin: 0 auto;
	margin-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	text-align: center;
	border-radius: 20px;
}


.heart {
	display: block;
	width: 7em;
	margin-top: 1em;
	margin-left: auto;
    margin-right: auto;
}