* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	width: 100%;
	background: linear-gradient(270deg, #224143, #252545, #3e243f);
	background-size: 400% 400%;

	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@-moz-keyframes Gradient {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@keyframes Gradient { 
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
nav {
	position: fixed;
	background-color: #222;
	width: 100%;
	height: 60px;
	z-index: 1;
}

nav p:nth-child(1) {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 0.6em;
	background-color: #111;
	color: #fff;
	text-align: center;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

nav p:nth-child(2) {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 1em;
	color: #888;
	text-align: center;
	padding-top: 0.5em;
}

nav img {
	float: right;
	width: 30px;
	margin-right: 0.5em;
	margin-top: -1.55em;
	opacity: 0.5;
	transition: 0.2s ease;
}
nav img:hover {
	opacity: 1;
}

#favcount {
	position: absolute;
	color: #fff;
	font-size: 0.8em;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 600;
	text-align: center;
	background-color: orange;
	right: 2em;
	top: 1.7em;
	width: 18px;
	height: 18px;
	border-radius: 8em;
}

main {
	font-family: 'Merriweather Sans', sans-serif;
	width: 100%;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin: 0 auto;
	padding-top: 2em;
	overflow: auto;
}

.card {
	width: 20em;
	margin: 0 auto;
	padding-bottom: 5em;
}

#root {
	margin-top: 3.5em;
}

main img {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width:70%;
	margin-bottom: 1em;
}

.cover {
	box-shadow: 0px 0px 20px #222;
}

main h1 {
	text-align: left;
	color: #fff;
}

main p {
	text-align: left;
	font-weight: 200;
	color: #fff;	
	margin-left: 1em;
	margin-right: 1em;
}

.releasedate {
	font-size: 0.8em;
	font-weight: 600;
	margin-top: 0.5em;
}

.simple_plot {
	font-size: 0.9em;
	line-height: 1.7em;
}


main ul {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 70%;
	list-style: none;
}

main ul li {
	display: inline-block;
	background-color: #999;
	font-size: 0.8em;
	color: white;
	width: 70px;
	margin: 0 auto;
	margin-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	text-align: center;
	border-radius: 20px;
}

.heart {
	width: 7em;
}

/*




main div {
	display: block;
}

main div p {
	text-shadow: 0px 0px 50px #222;
}

main div img {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 60px;
	margin-top: 1em;	
}
 
main div p:nth-child(1) {
	color: white;	
	text-align: center;
	font-size: 0.9em;
	padding-top: 40vh;
}

main div p:nth-child(2) {
	color: white;	
	text-align: center;
	font-size:2em;
	font-weight: 600;
	letter-spacing: -1px;
}

main div p:nth-child(3) {
	color: white;	
	text-align: center;
	font-size: 0.8em;
}


.movieitem {
	background-size: cover;
	background-position: 50% 50%;
	height: 100vh;
}

div.movieitem:nth-child(1) {
	background-image: url(../images/hatefuleight.jpg);
}

div.movieitem:nth-child(2) {
	background-image: url(../images/Return-of-the-Jedi.jpg);
}

div.movieitem:nth-child(3) {
	background-image: url(../images/denofthieves.jpg);
}

*/